body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #FFE1FF;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.logo{
  border:5px dashed whitesmoke;
  padding:10px;
}

.left{
  float: left;
}

.right{
  float:right;
}

.card{
  width:47%;
}

.tile-image{
  float:left;
  width:300px;
  margin-right: 50px;
  border:10px double black;
}

.card-title{
  color:midnightblue;
}

.creative {
  color: midnightblue;
}


@media (max-width:680px){

  h1{
    font-size: 2.5rem;
    text-align: center;
  }

  .card{
    width: 100%; /* most important */
    display: block;
    margin-bottom: 50px;
    text-align: justify;
  }

  .card-title{
    text-align: center;
  }

  .tile-image{
    width:100%;
    margin-bottom: 20px;
  }
}